* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #333333;
}

body {
    font-family: 'Josefin Sans', cursive;
    color: #333333;
}

.paciHeadBar {
    max-height: 120px;
    z-index: 3;
}

.logo h1 {
    font-family: 'Pacifico', cursive;
    text-align: center;
}

.logo h6 {
    display: flex;
    justify-content: center;
    font-size: 10px;
}

.background {
    display: block;
    position: fixed;
    background-position: center;
    width: 100%;
    z-index: -10;
    filter: blur(3px);
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 10px;
    z-index: 5;
    font-size: 8px;
    width: 100%;
    height: auto;
}

/* IPHONE 5S minimum (320x568)*/
/* SCREEN #1 - YELLOW*/
@media only screen and (min-width: 300px) and (max-width: 760px){

    .paciHeadBar {
        height: 100px;
        background-color: #ffd900;
    }

    .logo {
        display: block;
        justify-content: center;
    }
    .logo h1 {
        font-size: 45px;
    }

    .logo h6 {
        font-size: 10px;
    }

    .paciSubNav ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        top: 120px;
        width: auto;
        height: auto;
    }

    .paciSubNav a{
        font-size: 18px;
        padding: 18px;
        height: auto;
    }

    .onDisplay {
        display: none;
    }

    .background {
        display: none;
    }
}

/* SCREEN 2 - SEAFOAM GREEN*/
@media only screen and (min-width: 760px) and (max-width: 992px){

    .paciHeadBar {
        background-color: #00ff95;
    }

    .logo {
        height: 220px;
    }
    .logo h1 {
        font-size: 56px;
    }

    .paciSubNav ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        position: absolute;
        font-size: 20px;
        top: 140px;
        width: 100%;
        height: auto;   
    }
        
    .paciSubNav a{
        display: block;
        color: #e9e9e9;
        padding: 20px;
        height: auto;
        transition: all .5s ease-in-out;
    }  

    .onDisplay {
        display: grid;
        grid-template-columns: 5% 30% 30% 30% 5%;
        grid-template-rows: 1fr 10% 1fr;
        grid-template-areas:
        ". movie1 movie2 movie3 ."
        ". movie4 movie5 . .";
        position: absolute;
        justify-content: center;
        z-index: 3;
        width: 100%;
        top: 240px;
        height: auto;
        grid-gap: 4px;
    }

    .onDisplay img {
        width: 100%;
        transform: scale(0.97);
    }

    .movie1 {
        display: block;
        justify-content: center;
        align-content: center;
        grid-area: movie1;
        background-color: rgba(0, 1, 3, 0.356);
        width: 100%;
    }

    .movie2 {
        display: block;
        justify-content: center;
        align-content: center;
        grid-area: movie2;
        background-color:  rgba(0, 1, 3, 0.356);
        width: 100%;
    }

    .movie3 {
        display: block;
        justify-content: center;
        align-content: center;
        grid-area: movie3;
        background-color:  rgba(0, 1, 3, 0.356);
        width: 100%;
    }

    .movie4 {
        display: block;
        grid-area: movie4;
    }

    .movie5 {
        display: block;
        grid-area: movie5;
    }
}

/*  */
/* SCREEN 3 - 992x1200*/
@media only screen and (min-width: 992px) and (max-width: 1200px) {
    
    
    .logo {
        height: 145px;
        background-color: rgb(255, 201, 101);
    }

    .logo h1 {
        font-size: 56px;
    }

    .paciSubNav ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        position: absolute;
        font-size: 20px;
        top: 150px;
        width: 100%;
        height: auto;   
    }
        
    .paciSubNav a{
        display: block;
        color: #e9e9e9;
        padding: 20px;
        height: auto;
        transition: all .5s ease-in-out;
    }  
    
    .onDisplay {
        display: grid;
        grid-template-columns: 5% 22% 22% 22% 22% 5%;
        grid-template-rows: 1fr 20% 1fr;
        grid-template-areas:
        ". movie1 movie2 movie3 movie4 ."
        ". movie5 movie6 . . .";
        position: relative;
        justify-content: center;
        z-index: 3;
        top: 100px;
        width: 100%;
        height: auto;
        grid-gap: 4px;
    }
    
    .onDisplay img {
        display: block;
        justify-content: center;
        align-content: center;
        width: 100%;
        transform: scale(0.97);
        
    }
    
    .movie1 {
        display: block;
        grid-area: movie1;
        background-color: rgba(0, 1, 3, 0.356);   
    }

    .movie2 {
        display: block;
        grid-area: movie2;
        background-color:  rgba(0, 1, 3, 0.356);
    }
    
    .movie3 {
        display: block;
        grid-area: movie3;
        background-color:  rgba(0, 1, 3, 0.356);
    }
    
    .movie4 {
        display: block;
        grid-area: movie4;
    }
    
    .movie5 {
        display: block;
        grid-area: movie5;
    }
}
/* SCREEN 4 - 1200x1620 */
@media only screen and (min-width: 1200px) and (max-width: 1620px){

    .logo {
        background-color: bisque;
        width: 100%;
        height: 160px;
    }
   
    .logo h1 {
       font-size: 68px;
    }

    .paciSubNav ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        position: absolute;
        font-size: 20px;
        top: 170px;
        width: 100%;
        height: auto;   
    }
        
    .paciSubNav a{
        color: #e9e9e9;
        padding: 20px;
        height: auto;
        transition: all .5s ease-in-out;
    }  
}

@media only screen and (min-width: 1620px) and (max-width: 1820px){ }